<aside class="sidebar">
  <div class="container sidebar-sticky">

    <!-- Title and subtitle -->
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}">
        <h1>{{ .Site.Title }}</h1>
      </a>

      <p class="lead">
        {{ .Site.Params.description }}
      </p>
    </div>

    <!-- Category and page links -->
    <nav>
      <ul class="sidebar-nav">
        <li><a href="{{ .Site.BaseURL }}">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}about/">About</a></li>
        <li><a href="{{ .Site.BaseURL }}categories/projects/">Projects</a></li>
        <li><a href="{{ .Site.BaseURL }}reading-list/">Reading List</a></li>
        <br />
        <li><a href="{{ .Site.BaseURL }}categories/">Categories</a></li>
        <li><a href="{{ .Site.BaseURL }}series/">Article Series</a></li>
      </ul>
    </nav>

    <!-- Social link icons -->
    <span class="social-links">
      <a href="{{.Site.Params.socialLinks.gitHub}}"><i class="fa fa-github-square"></i></a>
      <a href="{{.Site.Params.socialLinks.linkedIn}}"><i class="fa fa-linkedin-square"></i></a>
      <a href="{{.Site.BaseURL}}/index.xml"><i class="fa fa-rss-square"></i></a>

      <link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL }}/index.xml" title="{{ .Site.Title }}">
    </span>

    <!-- Copyright message -->
    <p>
      {{ with .Site.Params.copyright }}
        {{.}}
        {{ else }}&copy; {{ now.Format "2006"}} Eddie Summers
      {{end}}
    </p>
  </div>
</aside>
