{{ define "main" -}}
  <!-- Home page template -->
  <h1 class="page-title">Articles</h1>
  All articles, in reverse chronological order. See the sidebar for specific categories.
  <hr />

  <div class="posts">
    {{ range .Site.RegularPages -}}

      <!-- Exclude pages marked as Hidden -->
      {{ if not (isset .Params "hidden") | or (not (eq .Params.Hidden true)) }}

        <article class="post">

          <!-- Title and link to post -->
          <h2 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h1>

          <!-- Display and link to post's (first) category -->
          {{ if isset .Params "categories" }}
            {{ with index .Params.Categories 0 }}
              <h4>
                <a href="{{ "categories/" | relLangURL }}{{ index . | urlize}}">
                  {{ . }}
                </a>
              </h4>
            {{ end }}
          {{ end }}

          <!-- Render date nicely -->
          <time
            class="post-date"
            datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
            {{ .Date.Format "2 January 2006" }}
          </time>

          <!-- Summary, truncated if too long -->
          {{ .Summary }}
          {{ if .Truncated }}
          <div>
            <a href="{{ .RelPermalink }}">
              Read More…
            </a>
          </div>
          {{ end }}

          <!-- Horizontal rule, to separate from next item -->
          <hr />

        </article>
      {{ end }}
    {{- end }}
  </div>
{{- end }}
