{{ define "main" -}}
  <!-- List view, for displaying a list of pages in a taxonomy. -->

  <!-- Title of _index file -->
  <h1 class="page-title">{{ .Title }}</h1>

  <!-- Contents of _index file -->
  {{ .Content }}

  <ul class="list">
    <!-- Header row -->
    <li>
      <span class="list-row">
        <b class="list-title">
          Name
        </b>

        <b class="list-date">
          Last Updated
        </b>
      </span>
    </li>

    <hr class="slim-rule" />

    {{ range .Data.Pages -}}
      <li>
        <span class="list-row">

          <!-- Title -->
          <a
            class="list-title"
            href="{{ .Permalink }}">
            {{ .Title }}
          </a>

          <!-- Date -->
          {{ if .Date }}
            <time
              class="list-date"
              datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">
              {{ .Date.Format "2 Jan 2006" }}
            </time>
          {{ end }}

        </span>
      </li>
    {{- end }}
  </ul>

{{- end }}
